@font-face {
    font-family: "Standard";
    src: url("/fonts/standard-book-webfont.woff2") format("woff2"),
    url("/fonts/standard-book-webfont.woff") format("woff")
    ;
}

@font-face {
  font-family: "ES Dokument Sicli Standard Medium";
  src: url("/fonts/ESDokument-StandardMedium Sicli.woff2") format("woff2"),
  url("/fonts/ESDokument-StandardMedium Sicli.woff") format("woff")
  ;
}

@font-face {
  font-family: "ES Dokument Sicli Standard Medium Italic";
  src: url("/fonts/ESDokumentSicli-StandardMediumItalic.woff2") format("woff2"),
  url("/fonts/ESDokumentSicli-StandardMediumItalic.woff") format("woff")
  ;
}

@font-face {
  font-family: "Social Media Circled";
  src: url("/fonts/Social Media Circled.otf");
}

*::-webkit-scrollbar {
    display: none;
  }

* {
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

/* -------------------------------------------------------------------------- */
/*                                   Global                                   */
/* -------------------------------------------------------------------------- */

#__next {
    opacity: 0;
    transition: opacity 1s;
    /* overflow: hidden; */
}

html {
    line-height: 1;
    -webkit-tap-highlight-color: transparent;
    background-color: white;
}

body {
    background: white;
    margin: 0;
    font-family: 'ES Dokument Sicli Standard Medium';
    color: var(--black);
}

main {
  position: relative;
  margin-top: var(--menu-height);
  z-index: 2;
  min-height: calc(100vh - var(--menu-height))
}

.lock-scroll {
    height: 100%;
    overflow: hidden;
}

:root {
    --transition-in: 0.2s;
    --transition-out: 0.3s;
    --black: rgb(26, 25, 25);
    --grey: rgb(136, 137, 136);

    --secondary-color: #999999;
    --ternary-color: #999999;
    --margin: 10px;

    --footer-padding-bottom: var(--margin);

    --plyr-range-thumb-background: transparent;
    /* --plyr-video-progress-buffered-background: transparent; */
    --plyr-color-main: transparent;
    --plyr-range-thumb-shadow: transparent;
    --plyr-range-fill-background: white;
    --plyr-range-track-height: 2px;
    --plyr-tooltip-radius: 0;
    --plyr-tooltip-background: transparent;
    --plyr-tooltip-shadow: transparent;
    --plyr-tooltip-color: white;
    --plyr-font-family: "ES Dokument Sicli Standard Medium";
    /* --plyr-video-controls-background: transparent; */
    /* --plyr-video-background: #b2b2b2; */
}

.plyr__tooltip {
  backdrop-filter: blur(20px);
}

.active-link {
    color: grey;
}

a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    opacity: 1;
    font-size: 1rem;
}

@media(min-width: 990px) {
    a:hover, a:hover * {
        color: var(--secondary-color);
        /* text-decoration: underline; */
    }
}


button {
    font-family: 'ES Dokument Sicli Standard Medium';
    box-sizing: border-box;
    border-radius: 999px;
    background: white;
    padding: calc(var(--margin) / 2) var(--margin);
    border: 1px solid var(--black);
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    color: var(--black);
}

.button *, button * {
    text-decoration: none !important;
}
/* 
.button a, button a {
    position: relative;
    top: -1px;
} */

/* Autofill Color */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid green; */
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

input {
  border-radius: 0;
}

.CookieConsent {
    background-color: #ffffff !important;
    border-top: 1px solid black !important;
  }
  
  .CookieConsent p {
    margin: 0;
    color: black;
  }

  
  .CookieConsent > div:nth-child(1) {
    margin: 10px !important;
  }
  
  @media (max-width: 989px) {
    .CookieConsent > div:nth-child(2) {
      margin-left: auto;
    }
  }
  
  .CookieConsent #rcc-decline-button,
  .CookieConsent #rcc-confirm-button {
    color: black !important;
    background: transparent !important;
    margin: 10px !important;
  }
  
  .CookieConsent #rcc-confirm-button {
    border: 1px solid black !important;
  }

  @media(min-width: 1800px) {
      html {
          max-width: 1800px;
          margin: 0 auto;
      }

      header, .home-calendar-container {
        max-width: 1800px;
        left: 50% !important;
        transform: translateX(-50%);
      }
  }

  img {
    -webkit-user-drag: none;
  }

  *::selection {
    background: var(--secondary-color);
    color: black;
  }


/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */

h1, .h1 {
    font-family: "ES Dokument Sicli Standard Medium";
    font-size: 2.9rem;
    letter-spacing: -0.03em;
    margin: 0 0 var(--margin) 0;
    font-weight: normal;
}

h2, .h2 {
    font-family: "ES Dokument Sicli Standard Medium";
    font-size: 2rem;
    letter-spacing: -0.03em;
    margin: 0 0 var(--margin) 0;
    line-height: 1.2;
    font-weight: normal;
}

h3, .h3 {
    font-family: "ES Dokument Sicli Standard Medium";
    font-size: 1.2rem;
    margin: 0 0 var(--margin) 0;
    letter-spacing: normal;
    line-height: 1.2;
    font-weight: normal;
}

h4, .h4 {
    font-family: "ES Dokument Sicli Standard Medium";
    font-size: 1rem;
    letter-spacing: normal;
    margin: 0;
    line-height: 1;
    font-weight: normal;
}

h5, .h5 {
    font-family: "ES Dokument Sicli Standard Medium";
    font-size: 1rem;
    letter-spacing: normal;
    margin: 0;
    line-height: 1;
    font-weight: normal;
}

h6, .h6 {
    font-family: "ES Dokument Sicli Standard Medium";
    font-size: 1rem;
    letter-spacing: normal;
    margin: 0;
    line-height: 1;
    font-weight: normal;
}

h1 a, 
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a
 {
  font-size: inherit;
}

p, .p, li {
    font-family: "ES Dokument Sicli Standard Medium";
    font-size: 1rem;
    margin: 0 0 calc(var(--margin) * 2) 0;
    line-height: 1.2;
    font-weight: normal;
}

input, input::placeholder, .error-label, label, textarea, select {
  font-family: "ES Dokument Sicli Standard Medium";
  font-size: 1rem;
}


.caption {
    font-family: "ES Dokument Sicli Standard Medium";
    display: inline-block;
    font-size: 1rem;
}

ul {
    padding-left: 20px;
}

li {
    margin: 0 0 15px 0;
}

@media(max-width: 989px) {
  h1, .h1 {
    font-size: 2.5rem;
  }

  h2, .h2 {
      font-size: 2rem;
  }

  h3, .h3 {
      font-size: 1.2rem;
  }

  h4, .h4 {
    font-size: 1rem;
  }

  h5, .h5 {
    font-size: 1rem;
  }

  h6, .h6 {
    font-size: 1rem;
  }

  p, .p, li {
      font-size: 1rem;
  }

  .caption {
    font-size: 1rem;
  }
}
